@charset "ISO-8859-1";


/*/////inicio//////*/



#section{
	
	width:70%;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.color{
/*box-shadow: 0px 0px 4px 3px rgba(184,184,184,1);*/
background-color:#FFFFFF;
	}
	
.nombreHogar {
	padding-right:2%;
	color:#FFFFFF;
	font-weight:bold;
	font-size:22px;
}

#barra {
	background-color:#5005b6; 
	border-bottom: #FFFFFF 2px solid; 
	border-top: #FFFFFF 2px solid;
}

.descrip {
	width:80%;
	display: block;
	margin-right:auto;
	margin-left: auto; 
	font-size: 15px; 
	margin-top: 55px;
	margin-bottom: 55px;
}


.imagen{

	width:25%;
    margin-left:5%;
    width:20%;
   
}


.negra{
font-weight: bold;	
}